/* Import custom fonts ET Book and Monaco from local files */
@font-face {
    font-family: 'ETBook';
    src: url('fonts/etbookot.woff2') format('woff2'),
}

@font-face {
    font-family: 'Monaco';
    src: url('fonts/monaco.woff') format('woff'),
}


/* Main body: use the font, line breaks, margin, and a nice serif background */
body {
    font-family: 'ETBook', serif;
    line-height: 1.5;
    margin: 20px auto;
    width: 75%;
    background-color: rgb(233, 225, 212);
    padding: 20px;
}


/* Headers and body */
h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 10px;
}

h1 { font-size: 36pt; }
h2 { font-size: 28pt; }
h3 { font-size: 18pt; }
h4 { font-size: 16pt; }
h5 { font-size: 14pt; }
h6 { font-size:  9pt; }

p {
    margin: 10px 0;
    font-size: 12pt;
}


/* Bold, Italics, Underline */
strong { font-weight: bolder; }
em { font-style: italic; }
u { text-decoration: underline; }


/* Links and Hover blocks */
a {
    color: rgb(12, 12, 173);
    text-decoration: none;
}

a:hover {
    color: rgb(91, 91, 91);
    text-decoration: underline;
}


/* Code blocks */
pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    overflow-x: auto;
    position: relative;
    margin: 10px 0;
    border-radius: 6px;
    padding-bottom: 0px;
}

pre code {
    font-family: 'Monaco', 'Courier New', Courier, monospace;
    display: block;
    padding: 10px 10px -30px 20px;  /* Adjusted padding */
    position: relative;
    top: 10px;
    right: 20px;
    margin: 10px 0 -32px 0; /* Adjust margin to bring up the bottom edge */
}

pre code::before {
    content: attr(data-language);
    position: absolute;
    top: -24px;
    left: 16px;
    font-size: 12px;
    color: #666;
}

pre code.line-numbers {
    counter-reset: line;
    position: relative;
    top: -20px;
    left: 0px;
    padding: 10px 10px 0px 20px;  /* Adjusted padding */
}

pre code.line-numbers span::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 2em;
    margin-left: -2em;
    margin-right: 0.6em;
    margin-bottom: -0.4em;
    text-align: right;
    color: #888;
}

/* Copy code button */
.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
}

.copy-button:hover {
    background-color: #45a049;
}

/* Tooltip hover effect */
.tooltip {
    position: relative;
    cursor: pointer;
    display: inline-block;
    border-bottom: 1px dotted black;
    margin-bottom: -2px;
    padding-top: -2px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgba(36, 41, 35, 0.95);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 240px;
    bottom: 120%;
    left: 50%;
    margin-left: -130px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    padding-top: 10px;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(40, 40, 40, 0.95) transparent transparent transparent;
}

/* Info box */
.info-box {
    border-left: 5px solid var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px;
    margin: 10px 0;
}

/* Inline code */
code.inline-code {
    background-color: #dad8d6;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Monaco', 'Courier New', Courier, monospace;
    font-size: 10pt;
}

/* List styles */
ul {
    list-style-type: none;
    padding-left: 20px;
}

ul li::before {
    content: "– ";
}

ol {
    padding-left: 20px;
}

/* Spoiler */
.spoiler {
    background-color: #000;
    color: #000;
    padding: 5px;
    border-radius: 5px;
}

.spoiler:hover {
    color: #fff;
}

.spoiler::after {
    content: ' (hover to reveal)';
    font-size: 12px;
    color: #666;
}