.image-container img {
    width: 60%;
    height: auto;
    filter: brightness(90%);
    transition: width 0.8s ease, filter 0.6s ease;
}

.image-container:hover img {
    width: 65%;
    filter: brightness(100%);
}

@media only screen and (max-width: 600px) {
    .image-container img {
        width: 100%;
        height: auto;
        filter: brightness(100%);
        transition: width 0.8s ease, filter 0.6s ease;
    }
    
    .image-container:hover img {
        width: 100%;
        filter: brightness(100%);
    }
}