<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AK1089's Website</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href= "styles.css">
    <script src="scripts/script.js"></script>
    <script src= "script.js"></script>
    <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/katex.min.css">
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/katex.min.js" defer></script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/contrib/auto-render.min.js" defer></script>
</head>
<body onload="on_body_load()">
    <div id="content-container">
        <a href="" id="home-icon">
            <img src="images/home.png" alt="Home" width="50" height="50" style="position: absolute; left: 6%; top: 60px;">
        </a>
        <div id="main-content">
            ALL_CONTENT_GOES_HERE
        </div>
        <h6 id="copyright">&#169; Avish Kumar 2024</h6>
    </div>
</body>
</html>
