.node {
    cursor: pointer;
}

.node circle:hover {
    fill: #d99;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 12px sans-serif;
    background-color: rgb(233, 225, 212);
    padding: 2px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

#main-content svg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 2px solid #888;
    border-radius: 6px;
}

#main-content svg:hover {
    border: solid black;
}


button {
    font-family: 'ETBook', serif;
    line-height: 1.5;
    background-color: rgb(233, 225, 212);
    cursor: pointer;
    border: none;
    color: #449;
    font-size: 16px;
    text-decoration: underline;
    padding: 0%;
    padding-left: 3pt;
}