/* Main font for the text (website default) */
@font-face {
    font-family: 'ETBook';
    src: url('../../../styles/fonts/etbookot.woff2') format('woff2'),
}

@font-face {
    font-family: 'Monaco';
    src: url('../../../styles/fonts/monaco.woff') format('woff'),
}

/* Inherited from rest of website */
body {
    font-family: 'ETBook', serif;
    line-height: 1.5;
    margin: 20px auto;
    width: 75%;
    background-color: rgb(233, 225, 212);
    padding: 20px;
}

/* Headers and paragraph */
h2 {
    margin: 20px 0 10px;
    font-size: 28pt;
}

p {
    margin: 10px 0;
    font-size: 12pt;
}

/* Home and Map Icons */
.icon {
    position: absolute;
    width: 40px;
    height: 40px;
}

.home-icon {
    left: 7%;
    top: 70px;
}

.map-icon {
    left: 7%;
    top: 120px;
}

/* Dropdown */
#module-selector {
    width: auto;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Each section */
.editor-container {
    display: block;
    padding: 10px;
}

/* Toolbar and toolbar buttons */
.options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    border-radius: 8px 8px 0px 0px;
    font-size: 14pt;
}

.formatting-options {
    display: flex;
    gap: 10px;
    margin-right: auto;
}

.editor-options {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

/* Formatting for the buttons themselves */
.option-button {
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: 1px solid #d1d8db;
    background-color: #ffffff;
    outline: none;
    color: #020929;
    cursor: pointer;
}

/* Highlight the buttons when moused over / active */
.option-button:hover {
    border: 2px solid #020929;
}

.active {
    background-color: #e0e9ff;
}

/* Text input should use Minecraft font and be one line tall */
@font-face {
    font-family: 'Minecraft';
    src: url('minecraft.woff') format('woff'),
}

.text-input {
    padding: 10px;
    height: 30px;
    overflow-y: auto;
    background-color: #333;
    font-family: 'Minecraft', serif;
    color: #fff;
    border-radius: 0px 0px 8px 8px;
    white-space: 'nowrap';
    overflow: 'hidden';
    text-overflow: 'ellipsis';
}

.text-input:focus {
    outline: none;
}

.text-input-basic {
    padding: 10px;
    height: 50px;
    overflow-y: auto;
    background-color: #ddd;
    font-family: 'Monaco', 'Courier New', Courier, monospace;
    color: #000;
    border-radius: 0px 0px 8px 8px;
    white-space: 'nowrap';
    overflow: 'hidden';
    text-overflow: 'ellipsis';
    font-size: 12pt;
    line-height: 1.5;
    width: 100%;
    /* Make it full width */
    box-sizing: border-box;
    /* Include padding in width calculation */
    display: block;
    /* Ensure it's treated as a block element */
    border: none;
    /* Remove the default textarea border */
}

.text-input-basic:focus {
    outline: none;
}

/* Colour Palette */
.color-palette {
    position: absolute;
    background: #ddf;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1000;
    border-radius: 4px;
}

.color-row {
    display: flex;
    margin-bottom: 5px;
}

.color-square {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    cursor: pointer;
    transition: border-radius 0.6s ease, opacity 0.3s ease, filter 0.3s ease;
    border-radius: 6px;
}

.color-square:hover {
    opacity: 0.8;
    filter: brightness(80%);
    border-radius: 4px;
}

.add-color {
    width: 32px;
    height: 32px;
    max-width: 32px;
    max-height: 32px;
    margin-right: 5px;
    border-radius: 6px;
    cursor: pointer;
    transition: opacity 0.3s ease, filter 0.3s ease;
}

.add-color:hover {
    opacity: 0.8;
    filter: brightness(80%);
}

.indented-module {
    border-left: 2px solid #666;
}

.loop-counter,
.prompt-name,
.prompt-timeout {
    height: 28px;
    font-size: 12pt;
    font-family: 'Monaco', 'Courier New', Courier, monospace;
    background-color: #f7f7f7;
    margin-left: 2px;
    border-radius: 4px;
    border: 1px solid #999;
}

.loop-counter:focus,
.prompt-name:focus,
.prompt-timeout:focus {
    outline: 1px solid #222;
}

.prompt-name {
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
}

.prompt-timeout {
    width: 50px;
    background-color: #f7f7f7;
}

.loop-counter {
    width: 80px;
    background-color: #f7f7f7;
}

.time-unit-dropdown {
    font-family: 'Monaco', 'Courier New', Courier, monospace;
    background-color: #f7f7f7;
    width: 80px;
    border-radius: 4px;
    border: 1px solid #999;
}