/* Main font for the text (website default) */
@font-face {
    font-family: 'ETBook';
    src: url('../../../styles/fonts/etbookot.woff2') format('woff2'),
}

/* Inherited from rest of website */
body {
    font-family: 'ETBook', serif;
    line-height: 1.5;
    margin: 20px auto;
    width: 75%;
    background-color: rgb(233, 225, 212);
    ;
    padding: 20px;
}

/* Headers and paragraph */
h2 {
    margin: 20px 0 10px;
    font-size: 28pt;
}

p {
    margin: 10px 0;
    font-size: 12pt;
}

/* Home and Map Icons */
.icon {
    position: absolute;
    width: 40px;
    height: 40px;
}

.home-icon {
    left: 7%;
    top: 70px;
}

.map-icon {
    left: 7%;
    top: 120px;
}

/* Dropdown */
#module-selector {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Each section */
.editor-container {
    border-radius: 8px;
}

/* Toolbar and toolbar buttons */
.options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    border-radius: 8px 8px 0px 0px;
}

.formatting-options,
.editor-options {
    display: flex;
    gap: 10px;
    float: right;
}

/* Formatting for the buttons themselves */
.option-button {
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: 1px solid #d1d8db;
    background-color: #ffffff;
    outline: none;
    color: #020929;
    cursor: pointer;
}

/* Highlight the buttons when moused over / active */
.option-button:hover {
    border: 2px solid #020929;
}

.active {
    background-color: #e0e9ff;
}

/* Text input should use Minecraft font and be one line tall */
@font-face {
    font-family: 'Minecraft';
    src: url('minecraft.woff') format('woff'),
}

.text-input {
    padding: 10px;
    height: 30px;
    overflow-y: auto;
    background-color: #333;
    font-family: 'Minecraft', serif;
    color: #fff;
    border-radius: 0px 0px 8px 8px;
}

.text-input:focus {
    outline: none;
}

/* Colour Palette */
.color-palette {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1000;
    border-radius: 4px;
}

.color-row {
    display: flex;
    margin-bottom: 5px;
}

.color-square {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    cursor: pointer;
}

.color-square:hover {
    opacity: 0.9;
    filter: brightness(90%);
}

.add-color {
    width: 32px;
    height: 32px;
    max-width: 32px;
    max-height: 32px;
    margin-right: 5px;
}