/* Reset defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set up the colour palette */
:root {
    --rose: #dc8a78;
    --pink: #e67bca;
    --purple: #936be5;
    --red: #c70b34;
    --maroon: #e74b58;
    --peach: #fd6b16;
    --yellow: #ed8936;
    --green: #40a02b;
    --lime: #48bb78;
    --teal: #179299;
    --blue: #04a5e5;
    --aqua: #209fb5;
    --darkblue: #1e66f5;
    --black: #000000;
    --text: #4c4f69;
    --subtext-b: #5c5f77;
    --subtext-a: #6c6f85;
    --overlay-c: #7c7f93;
    --overlay-b: #8c8fa1;
    --overlay-a: #9ca0b0;
    --surface-c: #acb0be;
    --surface-b: #bcc0cc;
    --surface-a: #ccd0da;
    --base: hsl(40, 23%, 97%);
    --mantle: hsl(40, 22%, 95%);
    --crust: hsl(40, 21%, 92%);
}

@font-face {
    font-family: "Garamond";
    src: url("/assets/fonts/EB Garamond Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Garamond";
    src: url("/assets/fonts/EB Garamond Italic.woff2") format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Garamond";
    src: url("/assets/fonts/EB Garamond Medium.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Garamond";
    src: url("/assets/fonts/EB Garamond Medium Italic.woff2") format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Garamond";
    src: url("/assets/fonts/EB Garamond SemiBold.woff2") format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Garamond";
    src: url("/assets/fonts/EB Garamond SemiBold Italic.woff2") format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Garamond";
    src: url("/assets/fonts/EB Garamond Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Garamond";
    src: url("/assets/fonts/EB Garamond Bold Italic.woff2") format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Garamond";
    src: url("/assets/fonts/EB Garamond Extra Bold.woff2") format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Garamond";
    src: url("/assets/fonts/EB Garamond Extra Bold Italic.woff2") format('woff2');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

/* Set up the base styles */
body {
    /* Ensure the body takes up the full height of the viewport */
    min-height: 100vh;
    /* Use the custom font */
    font-family: "Garamond", serif;
    font-size: 18px;
    color: var(--text);
}

p {
    display: inline;
}

/* Main layout container */
.layout-container {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: var(--crust);
}

/* Fixed widths for the two sidebars by default */
.sidebar-left,
.sidebar-right {
    width: 288px;
    flex-shrink: 0;
    padding: 1rem;
    min-height: 100vh;
    background: var(--crust);
}

/* Main  */
.main-content {
    width: 768px;
    flex-shrink: 0;
    background: var(--base);
    border-radius: 8px;
    padding: 2rem;
    height: fit-content;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
}

/* Spacing containers for the very edges: shrink to 8px */
.spacing-left,
.spacing-right {
    flex: 1;
    min-width: 8px;
    background: var(--crust);
}

/* Spacing containers for between sidebars and content: shrink to 18px */
.spacing-middle-left,
.spacing-middle-right {
    flex: 1;
    min-width: 18px;
    background: var(--crust);
}

/* Hide right sidebar when screen gets too narrow */
@media (max-width: 1439px) {

    .sidebar-right {
        display: none;
    }

    /* 36px padding between the right side and the main content */
    .spacing-right {
        flex: 0;
        width: 36px;
    }

    /* Resize the main content to fit the space */
    .main-content {
        width: calc(100% - 72px);
        max-width: 768px;
    }

    /* New font size */
    .body {
        padding: 0 1rem;
        font-size: 16px;
    }
}

/* Hide the left sidebar when screen gets even narrower */
@media (max-width: 1139px) {

    .sidebar-left {
        display: none;
    }

    /* 36px padding on each side for main content */
    .spacing-left {
        flex: 0;
        width: 36px;
    }
}

/* At mobile width, start shrinking side spacing to zero */
@media (max-width: 839px) {

    /* Hide the sidebars and spacing containers */
    .spacing-left,
    .spacing-right,
    .spacing-middle-left,
    .spacing-middle-right {
        display: flex;
        flex: 1;
        min-width: 0px;
    }

    /* Main content now takes up full width (max 768px) */
    .main-content {
        width: 100%;
        max-width: 768px;
    }

    .body {
        padding: 0 1rem;
        font-size: 14px;
    }
}

.placeholder {
    width: 100%;
    height: 100px;
    background: var(--mantle);
    border-radius: 4px;
    margin-bottom: 1rem;
}

/* Sidebar with picture, title, theme, map */
.sidebar-header {
    justify-content: space-between;
    display: flex;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

/* AK1089's Website */
.site-title {
    font-size: 1.44rem;
    font-weight: 600;
    color: var(--text);
    text-decoration: none;
}

/* The button to go to the map */
.map-link {
    color: var(--subtext-a);
    transition: color 0.2s ease;
    padding: 4px;
}

/* On hover, turn the icon black and add a faint glow */
.map-link:hover {
    color: var(--black);
}

.map-link:hover .icon {
    filter: drop-shadow(0 0 3px var(--surface-a));
}

/* The list of clickable subdomains */
.nav-list {
    list-style: none;
}

.nav-item {
    margin-bottom: 0.75rem;
}

/* The buttons to go to each subdomain */
.nav-link {
    display: block;
    padding: 0.5rem 0.75rem;
    color: var(--text);
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.15s ease;
    font-size: 0.95rem;
    width: 98%;
}

/* On hover, change the background to the base colour and text to black, and animate moving right */
.nav-link:hover {
    background-color: var(--base);
    color: var(--black);
    transform: translateX(2%);
}

/* Icons (small and large are half and double size) */
.icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    color: currentColor;
}

.icon--sm {
    width: 12px;
    height: 12px;
}

.icon--lg {
    width: 48px;
    height: 48px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text);
    font-weight: 600;
    line-height: 1.2;
    margin: 2rem 0 1rem;
}

h1 {
    font-size: 1.953rem;
    letter-spacing: -0.02em;
}

h2 {
    font-size: 1.563rem;
    letter-spacing: -0.01em;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
    font-weight: 700;
}

h5,
h6 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--subtext-a);
}

/* First heading on a page gets special treatment */
h1:first-child {
    margin-top: 0;
}